
<h1>Users Listing</h1>

<table class="table table-hover">

  <thead class="thead-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Email Verified</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <div><tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.email_verified %></td>
        <td><%=link_to "Set Remainder for user", user_remainder_path(user_id: user.id)%></td>
      </tr></div>
    <% end %>
  </tbody>

</table>
<br>
<p><%= link_to "Create New User", new_user_path %></p>